version: "3.9"
services:

  postgres:
    image: postgres:15.1
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWD}
    ports:
      - '5432:5432'
    volumes:
      - db:/var/lib/postgresql/data

  api:
    build: .
    depends_on:
      - postgres
    ports:
      - '8080:8080'
    environment:
      DATABASE_URI: postgresql://${DB_USER}:${DB_PASSWD}@postgres




volumes:
  db:
    driver: local


